<!DOCTYPE html>
<html>
<head>
  <title>$(ProjectName)</title>
  <style type="text/css">
    *:focus {
      outline: none;
    }
    body {
      width: 100%;
      height: 100%;
      background: #ffffff;
      font: 12pt Arial;
    }
  </style>
</head>
<body>
<div id="stage" style="width:640px; height:480px;">
  $(ProjectName) not (yet) loaded
</div>

<script type="text/javascript" src="joo/jangaroo-application.js"></script>
<script type="text/javascript">
  joo.classLoader.run(
    "joo.flash.Run",
    "stage",
    "$(PackageDot)Main");
</script>

</body>
</html>